<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Document</title>

</head>
<body>

<div class="topnav">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'authors' %}">Authors</a>
    <a href="{% url 'add_authors' %}">dodaj Autora</a>
    <a href="{% url 'books' %}">Książki</a>
    <a href="{% url 'add_book' %}">dodaj książke</a>
    <a href="{% url 'add_book_form_view' %}">dodaj książke (formularz)</a>
    <a href="{% url 'add_publisher' %}">dodaj wydawce</a>
    <a href="#about">About</a>
</div>
<div class="contener">
    {% block slonina %}
    Witaj paskudny świecie!!!
    {% endblock %}
    {% block brokuly %}
        tutaj jest blok brokóły
    {% endblock %}
</div>
{{ date }}
</body>
</html>